//!  font-family: 'Poppins', sans-serif;
//! font-family: 'Playfair Display', serif;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Poppins:wght@300&display=swap");
@font-face {
  font-family: "LeagueSpartan";
  src: url("./../fonts/league-spartan/League-Spartan-Bold.ttf.woff");
}

$color_title: rgb(51, 51, 51);
$color_subtitle: rgba(97, 97, 97, 0.651);
$color_linear: rgb(93, 168, 239);
$color_white: white;

@import "_header";
@import "_stories";
@import "_boards";
@import "_training";
@import "_point";
@import "_contacts";
@import "_footer";
a:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}
.wrapper {
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 675%;
    background-color: rgba(204, 204, 204, 0.192);
  }
  &::before {
    left: 7%;
  }
  &::after {
    right: 7%;
  }

  * img {
    width: 100%;
  }
}

.row,
.col {
  padding: 0;
  margin: 0;
}

i:before {
  margin-left: 0px !important;
}

.description {
  margin-top: 10%;
  margin-left: 20%;
  width: 336px;
}

.description__title {
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-family: "Playfair Display", serif;
  color: color_title;
  font-weight: bold;
  &.befo {
    padding-bottom: 15px;
    margin-bottom: 15%;
  }
  &.befo::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: $color_linear;
    transition: 0.3s;
  }
  &.befo:hover::before {
    width: 50%;
  }
}

.description__subtitle {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: $color_subtitle;
  line-height: 1.714;
  transition: 0.3s;
  &:hover {
    color: #000;
  }
}

.description__link {
  position: relative;
  padding: 5px 0;

  font-size: 9px;
  font-family: "LeagueSpartan";
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 7.333;
  letter-spacing: 3px;

  transition: 0.3s;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: $color_linear;
    z-index: -0;
    transition: 0.3s;
  }

  &:hover {
    color: lighten($color_linear, 20%);

    &::before {
      transform: scaleX(0.6);
    }
  }
}

@media (min-width: 2000px) {
  .navbar {
    margin: 0 7%;
  }
  .navbar-nav {
    width: 30%;
  }
  .vertical {
    height: 45vw;
  }
  i::before {
    font-size: 34px !important;
  }
  .description__subtitle {
    font-size: 18px;
  }
  .description__link {
    font-size: 14px;
  }

  .contacts__bg {
    bottom: -3%;
  }

  input.form-control {
    font-size: 2.25rem !important;
  }
}

@media (max-width: 1050px) {
  .description {
    width: 270px;
  }
  .point.row {
    width: 80%;
  }
  .number {
    font-size: 105px;
  }
  .contacts {
    padding-top: 3%;
  }

  .contacts_address {
    padding: 0 4% !important;
  }
}

@media (max-width: 800px) {
  .vertical {
    height: 60vw;
  }
  .stories__title::before {
    height: 26%;
  }
  .description {
    margin-left: 6%;
    width: 240px;
  }
  .board__description {
    right: 20%;
  }
  .description__title {
    font-size: 36px;
    &.befo {
      padding-bottom: 7px;
      margin-bottom: 7%;
    }
  }
  .number {
    font-size: 70px;
  }
  .training__aside-number {
    top: 14%;
    left: 6%;
  }
  .contacts__bg {
    bottom: 20%;
  }
  .contacts__header-vline {
    height: 60px;
    margin-bottom: 6%;
  }
  .contacts__header {
    max-width: 70%;
  }
  .contacts_address-suptitle {
    line-height: 0;
  }
  .contacts_address .description__title {
    font-size: 26px;
  }
}

@media (max-width: 450px) {
  .col, col-5, col-6 {
    max-width: 100%;
    flex: 0 0 100%;
    flex-basis: 1 !important;
  }
  .stories__item-video {
    width: 100%;
    height: 100%;
    transform: none;
    
}
}
